.firstView {
    background-color: whitesmoke;
    color: $bg-color;
    padding: 40px;
    text-align: center;

    &__title {
        font-size: 30px;

        @media (min-width:700px) {
            font-size: 35px;
        }
    }

    &__info {
        margin: 20px;
    }

    &__svg {
        width: 90%;
        max-width: 600px;
    }
}